01_SCL/05_Code/Dev/Solution/UniCloud.Component.Server/Application/UniCloud.Application.Component/Service References/AircraftService/AircraftService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.UniCloud.com" elementFormDefault="qualified" targetNamespace="http://www.UniCloud.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8040/AircraftService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" />
  <xs:import schemaLocation="http://localhost:8040/AircraftService.svc?xsd=xsd3" namespace="http://www.UniCloud.com/CollectionDataObjectList.xsd" />
  <xs:element name="CreateAcCategorys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="acCategorys" nillable="true" type="q1:AcCategoryDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAcCategorysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="CreateAcCategorysResult" nillable="true" type="q2:AcCategoryDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" name="FaultData" nillable="true" type="q3:FaultData" />
  <xs:element name="DeleteAcCategorys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.UniCloud.com/CollectionDataObjectList.xsd" minOccurs="0" name="acCategoryIDs" nillable="true" type="q4:IDList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcCategorysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.UniCloud.com/CollectionDataObjectList.xsd" minOccurs="0" name="DeleteAcCategorysResult" nillable="true" type="q5:IDList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAcCategorys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="acCategorys" nillable="true" type="q6:AcCategoryDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAcCategorysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="UpdateAcCategorysResult" nillable="true" type="q7:AcCategoryDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitAcCategorys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="acCategoryData" nillable="true" type="q8:AcCategoryResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitAcCategorysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="CommitAcCategorysResult" nillable="true" type="q9:AcCategoryResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcCategoryByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcCategoryByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetFullAcCategoryByIDResult" nillable="true" type="q10:AcCategoryDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcCategorys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcCategorysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetFullAcCategorysResult" nillable="true" type="q11:AcCategoryDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcCategorys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="colFilter" nillable="true" type="q12:ColumnFilterDescriptorCollection" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="sortFilter" nillable="true" type="q13:ColumnSortDescriptorCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcCategorysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcCategorysResult" nillable="true" type="q14:AcCategoryDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcCategoryWithPagination">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="pagination" nillable="true" type="q15:Pagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcCategoryWithPaginationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcCategoryWithPaginationResult" nillable="true" type="q16:AcCategoryWithPagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcCategoryByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcCategoryByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcCategoryByIDResult" nillable="true" type="q17:AcCategoryDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcCategoryCol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="colFilter" nillable="true" type="q18:ColumnFilterDescriptorCollection" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="sortFilter" nillable="true" type="q19:ColumnSortDescriptorCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcCategoryColResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcCategoryColResult" nillable="true" type="q20:KeyValueDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAcRegs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="acRegs" nillable="true" type="q21:AcRegDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAcRegsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="CreateAcRegsResult" nillable="true" type="q22:AcRegDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcRegs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="acRegs" nillable="true" type="q23:AcRegDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcRegsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://www.UniCloud.com/CollectionDataObjectList.xsd" minOccurs="0" name="DeleteAcRegsResult" nillable="true" type="q24:IDList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAcRegs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="acRegs" nillable="true" type="q25:AcRegDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAcRegsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="UpdateAcRegsResult" nillable="true" type="q26:AcRegDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitAcRegs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="acRegData" nillable="true" type="q27:AcRegResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitAcRegsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="CommitAcRegsResult" nillable="true" type="q28:AcRegResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcRegByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcRegByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetFullAcRegByIDResult" nillable="true" type="q29:AcRegDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcRegByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcRegByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetFullAcRegByGuidResult" nillable="true" type="q30:AcRegDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcRegByReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcRegByRegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetFullAcRegByRegResult" nillable="true" type="q31:AcRegDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcRegs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcRegsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetFullAcRegsResult" nillable="true" type="q32:AcRegDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcRegs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="colFilter" nillable="true" type="q33:ColumnFilterDescriptorCollection" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="sortFilter" nillable="true" type="q34:ColumnSortDescriptorCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcRegsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcRegsResult" nillable="true" type="q35:AcRegDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcRegWithPagination">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="pagination" nillable="true" type="q36:Pagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcRegWithPaginationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcRegWithPaginationResult" nillable="true" type="q37:AcRegWithPagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcRegByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcRegByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcRegByIDResult" nillable="true" type="q38:AcRegDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcRegByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcRegByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcRegByGuidResult" nillable="true" type="q39:AcRegDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcregLicenseByAcregID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcregLicenseByAcregIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcregLicenseByAcregIDResult" nillable="true" type="q40:AcregLicenseDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcRegCol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="colFilter" nillable="true" type="q41:ColumnFilterDescriptorCollection" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="sortFilter" nillable="true" type="q42:ColumnSortDescriptorCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcRegColResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcRegColResult" nillable="true" type="q43:KeyValueDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAcTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="acTypes" nillable="true" type="q44:AcTypeDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAcTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="CreateAcTypesResult" nillable="true" type="q45:AcTypeDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://www.UniCloud.com/CollectionDataObjectList.xsd" minOccurs="0" name="acTypeIDs" nillable="true" type="q46:IDList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAcTypesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAcTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="acTypes" nillable="true" type="q47:AcTypeDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAcTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="UpdateAcTypesResult" nillable="true" type="q48:AcTypeDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitAcTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="acTypeData" nillable="true" type="q49:AcTypeResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitAcTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="CommitAcTypesResult" nillable="true" type="q50:AcTypeResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcTypeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcTypeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetFullAcTypeByIDResult" nillable="true" type="q51:AcTypeDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcTypeByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcTypeByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetFullAcTypeByGuidResult" nillable="true" type="q52:AcTypeDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAcTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetFullAcTypesResult" nillable="true" type="q53:AcTypeDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageAcTypeAta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="actypes" nillable="true" type="q54:AcTypeDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageAcTypeAtaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="ManageAcTypeAtaResult" nillable="true" type="q55:AcTypeDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAcModels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acTypeId" type="xs:int" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="acModels" nillable="true" type="q56:AcModelDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAcModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="CreateAcModelsResult" nillable="true" type="q57:AcModelDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAcModels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acTypeId" type="xs:int" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="acModels" nillable="true" type="q58:AcModelDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAcModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="UpdateAcModelsResult" nillable="true" type="q59:AcModelDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAcConfigs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="acModelId" type="xs:int" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="acConfigs" nillable="true" type="q60:AcConfigDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAcConfigsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="CreateAcConfigsResult" nillable="true" type="q61:AcConfigDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAcConfigs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="acModelId" type="xs:int" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="acConfigs" nillable="true" type="q62:AcConfigDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAcConfigsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="UpdateAcConfigsResult" nillable="true" type="q63:AcConfigDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcModels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acTypeId" type="xs:int" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="acModels" nillable="true" type="q64:AcModelDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAcModelsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcConfigs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="acModelId" type="xs:int" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="acConfigs" nillable="true" type="q65:AcConfigDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAcConfigsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAcConfigsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="colFilter" nillable="true" type="q66:ColumnFilterDescriptorCollection" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="sortFilter" nillable="true" type="q67:ColumnSortDescriptorCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcTypesResult" nillable="true" type="q68:AcTypeDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcTypeWithPagination">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="pagination" nillable="true" type="q69:Pagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcTypeWithPaginationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcTypeWithPaginationResult" nillable="true" type="q70:AcTypeWithPagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcTypeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcTypeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcTypeByIDResult" nillable="true" type="q71:AcTypeDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcTypeByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcTypeByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcTypeByGuidResult" nillable="true" type="q72:AcTypeDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcModels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="colFilter" nillable="true" type="q73:ColumnFilterDescriptorCollection" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="sortFilter" nillable="true" type="q74:ColumnSortDescriptorCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcModelsResult" nillable="true" type="q75:AcModelDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcModelByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcModelByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcModelByIDResult" nillable="true" type="q76:AcModelDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcModelByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcModelByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcModelByGuidResult" nillable="true" type="q77:AcModelDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcConfigs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="colFilter" nillable="true" type="q78:ColumnFilterDescriptorCollection" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="sortFilter" nillable="true" type="q79:ColumnSortDescriptorCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcConfigsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcConfigsResult" nillable="true" type="q80:AcConfigDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcConfigByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcConfigByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcConfigByIDResult" nillable="true" type="q81:AcConfigDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcConfigByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcConfigByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcConfigByGuidResult" nillable="true" type="q82:AcConfigDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcTypeCol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="colFilter" nillable="true" type="q83:ColumnFilterDescriptorCollection" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="sortFilter" nillable="true" type="q84:ColumnSortDescriptorCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcTypeColResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcTypeColResult" nillable="true" type="q85:KeyValueDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcConfigCol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="colFilter" nillable="true" type="q86:ColumnFilterDescriptorCollection" />
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="sortFilter" nillable="true" type="q87:ColumnSortDescriptorCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcConfigColResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcConfigColResult" nillable="true" type="q88:KeyValueDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcModelCol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="colFilter" nillable="true" type="q89:ColumnFilterDescriptorCollection" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="sortFilter" nillable="true" type="q90:ColumnSortDescriptorCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcModelColResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAcModelColResult" nillable="true" type="q91:KeyValueDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAtas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="atas" nillable="true" type="q92:AtaDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAtasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="CreateAtasResult" nillable="true" type="q93:AtaDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAtas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://www.UniCloud.com/CollectionDataObjectList.xsd" minOccurs="0" name="ataIDs" nillable="true" type="q94:IDList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAtasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://www.UniCloud.com/CollectionDataObjectList.xsd" minOccurs="0" name="DeleteAtasResult" nillable="true" type="q95:IDList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAtas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="atas" nillable="true" type="q96:AtaDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAtasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="UpdateAtasResult" nillable="true" type="q97:AtaDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitAtas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="ataData" nillable="true" type="q98:AtaResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitAtasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="CommitAtasResult" nillable="true" type="q99:AtaResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAtaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAtaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetFullAtaByIDResult" nillable="true" type="q100:AtaDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAtas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAtasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetFullAtasResult" nillable="true" type="q101:AtaDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="colFilter" nillable="true" type="q102:ColumnFilterDescriptorCollection" />
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="sortFilter" nillable="true" type="q103:ColumnSortDescriptorCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAtasResult" nillable="true" type="q104:AtaDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtaWithPagination">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="pagination" nillable="true" type="q105:Pagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtaWithPaginationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAtaWithPaginationResult" nillable="true" type="q106:AtaWithPagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAtaByIDResult" nillable="true" type="q107:AtaDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtaByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtaByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAtaByGuidResult" nillable="true" type="q108:AtaDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtaCol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="colFilter" nillable="true" type="q109:ColumnFilterDescriptorCollection" />
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="sortFilter" nillable="true" type="q110:ColumnSortDescriptorCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtaColResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetAtaColResult" nillable="true" type="q111:KeyValueDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLicenseTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="licenseTypes" nillable="true" type="q112:LicenseTypeDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLicenseTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="CreateLicenseTypesResult" nillable="true" type="q113:LicenseTypeDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLicenseTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://www.UniCloud.com/CollectionDataObjectList.xsd" minOccurs="0" name="licenseTypeIDs" nillable="true" type="q114:IDList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLicenseTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://www.UniCloud.com/CollectionDataObjectList.xsd" minOccurs="0" name="DeleteLicenseTypesResult" nillable="true" type="q115:IDList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicenseTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="licenseTypes" nillable="true" type="q116:LicenseTypeDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicenseTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="UpdateLicenseTypesResult" nillable="true" type="q117:LicenseTypeDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitLicenseTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="licenseTypeData" nillable="true" type="q118:LicenseTypeResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitLicenseTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="CommitLicenseTypesResult" nillable="true" type="q119:LicenseTypeResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullLicenseTypeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullLicenseTypeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetFullLicenseTypeByIDResult" nillable="true" type="q120:LicenseTypeDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullLicenseTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullLicenseTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetFullLicenseTypesResult" nillable="true" type="q121:LicenseTypeDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="colFilter" nillable="true" type="q122:ColumnFilterDescriptorCollection" />
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="sortFilter" nillable="true" type="q123:ColumnSortDescriptorCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetLicenseTypesResult" nillable="true" type="q124:LicenseTypeDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseTypeWithPagination">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="pagination" nillable="true" type="q125:Pagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseTypeWithPaginationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetLicenseTypeWithPaginationResult" nillable="true" type="q126:LicenseTypeWithPagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseTypeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseTypeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetLicenseTypeByIDResult" nillable="true" type="q127:LicenseTypeDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseTypeCol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="colFilter" nillable="true" type="q128:ColumnFilterDescriptorCollection" />
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="sortFilter" nillable="true" type="q129:ColumnSortDescriptorCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseTypeColResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" minOccurs="0" name="GetLicenseTypeColResult" nillable="true" type="q130:KeyValueDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>