01_SCL/05_Code/Dev/Solution/UniCloud.Component.Server/UnitTest/UniCloud.Component.Server.UnitTest/Service References/DocService/DocumentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6500/DocumentService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:6500/DocumentService.svc?xsd=xsd3" namespace="http://www.UniCloud.com/CollectionDataObjectList.xsd" />
  <xs:simpleType name="SortOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unspecified">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Ascending">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Descending">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortOrder" nillable="true" type="tns:SortOrder" />
  <xs:complexType name="DocumentTypeDataObjectList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentTypeDataObject" nillable="true" type="tns:DocumentTypeDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentTypeDataObjectList" nillable="true" type="tns:DocumentTypeDataObjectList" />
  <xs:complexType name="DocumentTypeDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentTypeDataObject" nillable="true" type="tns:DocumentTypeDataObject" />
  <xs:complexType name="FaultData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultData" nillable="true" type="tns:FaultData" />
  <xs:complexType name="Pagination">
    <xs:sequence>
      <xs:element name="PageNumber" type="xs:int" />
      <xs:element name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" type="tns:SortOrder" />
      <xs:element minOccurs="0" name="SortPredicate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPages" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pagination" nillable="true" type="tns:Pagination" />
  <xs:complexType name="OfficialDocumentDataObjectListByPage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultData_OfficialDocumentDataObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OfficialDocumentDataObjectListByPage" nillable="true" type="tns:OfficialDocumentDataObjectListByPage" />
  <xs:complexType name="ResultData_OfficialDocumentDataObject">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultData_{0}" Namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OfficialDocumentDataObject" Namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://www.UniCloud.com/CollectionDataObjectList.xsd" minOccurs="0" name="BaseDataObjectList" nillable="true" type="q1:BaseOfficialDocumentDataObjectList" />
      <xs:element minOccurs="0" name="Pagination" nillable="true" type="tns:Pagination" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultData_OfficialDocumentDataObject" nillable="true" type="tns:ResultData_OfficialDocumentDataObject" />
  <xs:complexType name="OfficialDocumentDataObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DocumentDataObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OfficialDocumentDataObject" nillable="true" type="tns:OfficialDocumentDataObject" />
  <xs:complexType name="DocumentDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abstract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentFileStream" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DocumentTypeID" type="ser:guid" />
      <xs:element minOccurs="0" name="DocumentTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtendType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentDocument" nillable="true" type="tns:DocumentDataObject" />
      <xs:element minOccurs="0" name="SubDocuments" nillable="true" type="tns:ArrayOfDocumentDataObject" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uploader" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentDataObject" nillable="true" type="tns:DocumentDataObject" />
  <xs:complexType name="ArrayOfDocumentDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentDataObject" nillable="true" type="tns:DocumentDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentDataObject" nillable="true" type="tns:ArrayOfDocumentDataObject" />
  <xs:complexType name="StandardDocumentDataObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DocumentDataObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StandardDocumentDataObject" nillable="true" type="tns:StandardDocumentDataObject" />
  <xs:complexType name="OfficialDocumentDataObjectList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OfficialDocumentDataObject" nillable="true" type="tns:OfficialDocumentDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OfficialDocumentDataObjectList" nillable="true" type="tns:OfficialDocumentDataObjectList" />
  <xs:complexType name="StandardDocumentDataObjectList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StandardDocumentDataObject" nillable="true" type="tns:StandardDocumentDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StandardDocumentDataObjectList" nillable="true" type="tns:StandardDocumentDataObjectList" />
  <xs:complexType name="StandardDocumentDataObjectListByPage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultData_StandardDocumentDataObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StandardDocumentDataObjectListByPage" nillable="true" type="tns:StandardDocumentDataObjectListByPage" />
  <xs:complexType name="ResultData_StandardDocumentDataObject">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultData_{0}" Namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="StandardDocumentDataObject" Namespace="http://schemas.datacontract.org/2004/07/UniCloud.DataObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://www.UniCloud.com/CollectionDataObjectList.xsd" minOccurs="0" name="BaseDataObjectList" nillable="true" type="q2:BaseStandardDocumentDataObjectList" />
      <xs:element minOccurs="0" name="Pagination" nillable="true" type="tns:Pagination" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultData_StandardDocumentDataObject" nillable="true" type="tns:ResultData_StandardDocumentDataObject" />
  <xs:complexType name="ResultDataStandardDocumentDataObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultData_StandardDocumentDataObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultDataStandardDocumentDataObject" nillable="true" type="tns:ResultDataStandardDocumentDataObject" />
  <xs:complexType name="ResultDataOfficialDocumentDataObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultData_OfficialDocumentDataObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultDataOfficialDocumentDataObject" nillable="true" type="tns:ResultDataOfficialDocumentDataObject" />
</xs:schema>